/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-archive-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -140px;
  width: 27px;
  height: 24px;
}
.icon-arrow-down-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -80px;
  width: 16px;
  height: 16px;
}
.icon-arrow-down-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -96px -108px;
  width: 32px;
  height: 32px;
}
.icon-arrow-left-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px 0px;
  width: 24px;
  height: 24px;
}
.icon-arrow-left-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -140px -64px;
  width: 32px;
  height: 32px;
}
.icon-arrow-right-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -140px 0px;
  width: 32px;
  height: 32px;
}
.icon-arrow-up-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -36px -72px;
  width: 32px;
  height: 32px;
}
.icon-backward-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -226px;
  width: 16px;
  height: 16px;
}
.icon-backward-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -108px 0px;
  width: 32px;
  height: 32px;
}
.icon-bin-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -192px;
  width: 16px;
  height: 16px;
}
.icon-blocked-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px 0px;
  width: 18px;
  height: 18px;
}
.icon-bold-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px -96px;
  width: 24px;
  height: 24px;
}
.icon-broadcast-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.icon-bubble-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -144px;
  width: 16px;
  height: 16px;
}
.icon-bubbles-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -56px -192px;
  width: 18px;
  height: 16px;
}
.icon-bumplimit-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -18px -192px;
  width: 18px;
  height: 18px;
}
.icon-checkmark-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -210px;
  width: 16px;
  height: 16px;
}
.icon-code-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -36px -192px;
  width: 20px;
  height: 16px;
}
.icon-code-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -172px;
  width: 25px;
  height: 20px;
}
.icon-copy-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -160px -210px;
  width: 16px;
  height: 16px;
}
.icon-coub-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -112px -210px;
  width: 16px;
  height: 16px;
}
.icon-cross-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -48px -210px;
  width: 16px;
  height: 16px;
}
.icon-database-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -90px;
  width: 18px;
  height: 18px;
}
.icon-download-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -72px;
  width: 18px;
  height: 18px;
}
.icon-enlarge-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -128px;
  width: 16px;
  height: 16px;
}
.icon-enter-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -64px;
  width: 16px;
  height: 16px;
}
.icon-exit-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -32px;
  width: 16px;
  height: 16px;
}
.icon-eye-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -160px;
  width: 16px;
  height: 16px;
}
.icon-eye-blocked-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -32px;
  width: 16px;
  height: 16px;
}
.icon-eye-blocked-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -85px -172px;
  width: 20px;
  height: 20px;
}
.icon-eye-blocked-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -140px -32px;
  width: 32px;
  height: 32px;
}
.icon-eye-minus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -176px -210px;
  width: 16px;
  height: 16px;
}
.icon-eye-plus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -144px -210px;
  width: 16px;
  height: 16px;
}
.icon-file-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -128px -210px;
  width: 16px;
  height: 16px;
}
.icon-file-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -72px 0px;
  width: 36px;
  height: 36px;
}
.icon-file-audio-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -108px;
  width: 32px;
  height: 32px;
}
.icon-file-open-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -72px -36px;
  width: 36px;
  height: 36px;
}
.icon-file-pdf-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -108px -64px;
  width: 32px;
  height: 32px;
}
.icon-file-picture-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -72px;
  width: 36px;
  height: 36px;
}
.icon-file-text-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -74px -192px;
  width: 16px;
  height: 16px;
}
.icon-file-video-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
}
.icon-folder-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -80px;
  width: 16px;
  height: 16px;
}
.icon-forward-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -160px;
  width: 16px;
  height: 16px;
}
.icon-forward-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -108px -32px;
  width: 32px;
  height: 32px;
}
.icon-gear-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -126px;
  width: 18px;
  height: 18px;
}
.icon-google-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -144px;
  width: 16px;
  height: 16px;
}
.icon-hammer-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -176px;
  width: 16px;
  height: 16px;
}
.icon-home-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -210px;
  width: 16px;
  height: 16px;
}
.icon-info-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -210px;
  width: 16px;
  height: 16px;
}
.icon-iqdb-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -64px -210px;
  width: 16px;
  height: 16px;
}
.icon-italic-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -131px -140px;
  width: 24px;
  height: 24px;
}
.icon-latex-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -145px -172px;
  width: 20px;
  height: 20px;
}
.icon-link-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -36px -36px;
  width: 36px;
  height: 36px;
}
.icon-list-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -208px -210px;
  width: 16px;
  height: 16px;
}
.icon-list-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -65px -172px;
  width: 20px;
  height: 20px;
}
.icon-list-item-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -25px -172px;
  width: 20px;
  height: 20px;
}
.icon-list-numbered-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -45px -172px;
  width: 20px;
  height: 20px;
}
.icon-lock-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -18px;
  width: 18px;
  height: 18px;
}
.icon-magic-wand-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -90px -192px;
  width: 16px;
  height: 16px;
}
.icon-magnet-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -106px -192px;
  width: 16px;
  height: 16px;
}
.icon-magnet-full-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -122px -192px;
  width: 16px;
  height: 16px;
}
.icon-menu-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -138px -192px;
  width: 16px;
  height: 16px;
}
.icon-minus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -154px -192px;
  width: 16px;
  height: 16px;
}
.icon-move-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -170px -192px;
  width: 16px;
  height: 16px;
}
.icon-music-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -186px -192px;
  width: 16px;
  height: 16px;
}
.icon-music-plus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px 0px;
  width: 16px;
  height: 16px;
}
.icon-paint-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -16px;
  width: 16px;
  height: 16px;
}
.icon-paint-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -36px;
  width: 36px;
  height: 36px;
}
.icon-pause-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -48px;
  width: 16px;
  height: 16px;
}
.icon-pause-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -140px;
  width: 32px;
  height: 32px;
}
.icon-pencil-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -36px;
  width: 18px;
  height: 18px;
}
.icon-pin-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -96px;
  width: 16px;
  height: 16px;
}
.icon-play-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -112px;
  width: 16px;
  height: 16px;
}
.icon-play-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -140px -96px;
  width: 32px;
  height: 32px;
}
.icon-plus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -54px;
  width: 18px;
  height: 18px;
}
.icon-question-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -155px -140px;
  width: 16px;
  height: 16px;
}
.icon-quotes-left-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -83px -140px;
  width: 24px;
  height: 24px;
}
.icon-redo-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -214px -192px;
  width: 16px;
  height: 16px;
}
.icon-rss-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px -24px;
  width: 24px;
  height: 24px;
}
.icon-saucenao-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -16px -210px;
  width: 16px;
  height: 16px;
}
.icon-search-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -108px;
  width: 18px;
  height: 18px;
}
.icon-share-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px -144px;
  width: 20px;
  height: 20px;
}
.icon-shield-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -165px -172px;
  width: 18px;
  height: 18px;
}
.icon-shrink-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -80px -210px;
  width: 16px;
  height: 16px;
}
.icon-spinner-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -96px -210px;
  width: 16px;
  height: 16px;
}
.icon-spinner-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -107px -140px;
  width: 24px;
  height: 24px;
}
.icon-star-empty-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -144px;
  width: 18px;
  height: 18px;
}
.icon-star-full-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -196px -162px;
  width: 18px;
  height: 18px;
}
.icon-strikethrough-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px -120px;
  width: 24px;
  height: 24px;
}
.icon-subscript-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -125px -172px;
  width: 20px;
  height: 20px;
}
.icon-superscript-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -105px -172px;
  width: 20px;
  height: 20px;
}
.icon-table-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -59px -140px;
  width: 24px;
  height: 24px;
}
.icon-tag-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px 0px;
  width: 16px;
  height: 16px;
}
.icon-tineye-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -16px;
  width: 16px;
  height: 16px;
}
.icon-tools-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -192px;
  width: 18px;
  height: 18px;
}
.icon-triangle-03-00-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -48px;
  width: 16px;
  height: 16px;
}
.icon-triangle-16-30-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -64px;
  width: 16px;
  height: 16px;
}
.icon-underline-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px -48px;
  width: 24px;
  height: 24px;
}
.icon-undo-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -96px;
  width: 16px;
  height: 16px;
}
.icon-unlocked-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -112px;
  width: 16px;
  height: 16px;
}
.icon-unpin-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -128px;
  width: 16px;
  height: 16px;
}
.icon-update-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -172px -72px;
  width: 24px;
  height: 24px;
}
.icon-vk-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -64px -108px;
  width: 32px;
  height: 32px;
}
.icon-volume-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -176px;
  width: 16px;
  height: 16px;
}
.icon-volume-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -68px -72px;
  width: 32px;
  height: 32px;
}
.icon-volume-mute-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -230px -208px;
  width: 16px;
  height: 16px;
}
.icon-volume-mute-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -108px;
  width: 32px;
  height: 32px;
}
.icon-whatanime-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -16px -226px;
  width: 16px;
  height: 16px;
}
.icon-yandex-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -226px;
  width: 16px;
  height: 16px;
}
.icon-youtube-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -48px -226px;
  width: 16px;
  height: 16px;
}
