/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-archive-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -132px;
  width: 27px;
  height: 24px;
}
.icon-arrow-down-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -36px -184px;
  width: 16px;
  height: 16px;
}
.icon-arrow-down-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -100px;
  width: 32px;
  height: 32px;
}
.icon-arrow-left-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -131px -132px;
  width: 24px;
  height: 24px;
}
.icon-arrow-left-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -100px;
  width: 32px;
  height: 32px;
}
.icon-arrow-right-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -36px;
  width: 32px;
  height: 32px;
}
.icon-arrow-up-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -72px 0px;
  width: 32px;
  height: 32px;
}
.icon-backward-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -216px;
  width: 16px;
  height: 16px;
}
.icon-backward-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -68px;
  width: 32px;
  height: 32px;
}
.icon-bin-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -216px;
  width: 16px;
  height: 16px;
}
.icon-blocked-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -176px;
  width: 16px;
  height: 16px;
}
.icon-bold-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -105px -164px;
  width: 20px;
  height: 20px;
}
.icon-broadcast-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.icon-bubble-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -160px;
  width: 16px;
  height: 16px;
}
.icon-bubbles-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -90px;
  width: 18px;
  height: 16px;
}
.icon-bumplimit-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px 0px;
  width: 16px;
  height: 16px;
}
.icon-checkmark-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -208px -200px;
  width: 16px;
  height: 16px;
}
.icon-code-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -184px;
  width: 20px;
  height: 16px;
}
.icon-code-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -164px;
  width: 25px;
  height: 20px;
}
.icon-copy-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -176px -200px;
  width: 16px;
  height: 16px;
}
.icon-coub-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -128px -200px;
  width: 16px;
  height: 16px;
}
.icon-cross-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -64px -200px;
  width: 16px;
  height: 16px;
}
.icon-database-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -16px -200px;
  width: 16px;
  height: 16px;
}
.icon-download-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px 0px;
  width: 18px;
  height: 18px;
}
.icon-enlarge-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -128px;
  width: 16px;
  height: 16px;
}
.icon-enter-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -64px;
  width: 16px;
  height: 16px;
}
.icon-exit-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -32px;
  width: 16px;
  height: 16px;
}
.icon-eye-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -52px -184px;
  width: 16px;
  height: 16px;
}
.icon-eye-blocked-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -20px -184px;
  width: 16px;
  height: 16px;
}
.icon-eye-blocked-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -44px;
  width: 20px;
  height: 20px;
}
.icon-eye-blocked-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -136px -64px;
  width: 32px;
  height: 32px;
}
.icon-eye-minus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -138px;
  width: 16px;
  height: 16px;
}
.icon-eye-plus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -122px;
  width: 16px;
  height: 16px;
}
.icon-file-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -96px;
  width: 16px;
  height: 16px;
}
.icon-file-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -132px;
  width: 32px;
  height: 32px;
}
.icon-file-audio-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -64px -100px;
  width: 32px;
  height: 32px;
}
.icon-file-open-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
}
.icon-file-pdf-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -104px -64px;
  width: 32px;
  height: 32px;
}
.icon-file-picture-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -36px;
  width: 32px;
  height: 32px;
}
.icon-file-text-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -68px -184px;
  width: 16px;
  height: 16px;
}
.icon-file-video-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -104px 0px;
  width: 32px;
  height: 32px;
}
.icon-folder-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -176px;
  width: 16px;
  height: 16px;
}
.icon-forward-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -160px;
  width: 16px;
  height: 16px;
}
.icon-forward-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -104px -32px;
  width: 32px;
  height: 32px;
}
.icon-gear-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -145px -164px;
  width: 18px;
  height: 18px;
}
.icon-google-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -48px -200px;
  width: 16px;
  height: 16px;
}
.icon-hammer-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -144px -200px;
  width: 16px;
  height: 16px;
}
.icon-home-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -160px -200px;
  width: 16px;
  height: 16px;
}
.icon-info-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -200px;
  width: 16px;
  height: 16px;
}
.icon-iqdb-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -48px;
  width: 16px;
  height: 16px;
}
.icon-italic-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -124px;
  width: 20px;
  height: 20px;
}
.icon-latex-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -104px;
  width: 20px;
  height: 20px;
}
.icon-link-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -136px -96px;
  width: 32px;
  height: 32px;
}
.icon-list-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -154px;
  width: 16px;
  height: 16px;
}
.icon-list-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -24px;
  width: 20px;
  height: 20px;
}
.icon-list-item-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -25px -164px;
  width: 20px;
  height: 20px;
}
.icon-list-numbered-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -125px -164px;
  width: 20px;
  height: 20px;
}
.icon-lock-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -163px -164px;
  width: 18px;
  height: 18px;
}
.icon-magic-wand-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -84px -184px;
  width: 16px;
  height: 16px;
}
.icon-magnet-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -100px -184px;
  width: 16px;
  height: 16px;
}
.icon-magnet-full-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -116px -184px;
  width: 16px;
  height: 16px;
}
.icon-menu-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -132px -184px;
  width: 16px;
  height: 16px;
}
.icon-minus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -148px -184px;
  width: 16px;
  height: 16px;
}
.icon-move-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -164px -184px;
  width: 16px;
  height: 16px;
}
.icon-music-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -180px -184px;
  width: 16px;
  height: 16px;
}
.icon-music-plus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px 0px;
  width: 16px;
  height: 16px;
}
.icon-paint-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -16px;
  width: 16px;
  height: 16px;
}
.icon-paint-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -136px -32px;
  width: 32px;
  height: 32px;
}
.icon-pause-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -48px;
  width: 16px;
  height: 16px;
}
.icon-pause-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -136px 0px;
  width: 32px;
  height: 32px;
}
.icon-pencil-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -80px;
  width: 16px;
  height: 16px;
}
.icon-pin-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -96px;
  width: 16px;
  height: 16px;
}
.icon-play-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -112px;
  width: 16px;
  height: 16px;
}
.icon-play-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -96px -100px;
  width: 32px;
  height: 32px;
}
.icon-plus-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -210px -144px;
  width: 16px;
  height: 16px;
}
.icon-question-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -106px;
  width: 16px;
  height: 16px;
}
.icon-quotes-left-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -45px -164px;
  width: 20px;
  height: 20px;
}
.icon-redo-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: 0px -200px;
  width: 16px;
  height: 16px;
}
.icon-rss-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -59px -132px;
  width: 24px;
  height: 24px;
}
.icon-saucenao-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -200px;
  width: 16px;
  height: 16px;
}
.icon-search-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -18px;
  width: 18px;
  height: 18px;
}
.icon-share-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -144px;
  width: 20px;
  height: 20px;
}
.icon-shield-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -80px -200px;
  width: 16px;
  height: 16px;
}
.icon-shrink-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -96px -200px;
  width: 16px;
  height: 16px;
}
.icon-spinner-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -112px -200px;
  width: 16px;
  height: 16px;
}
.icon-spinner-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px 0px;
  width: 24px;
  height: 24px;
}
.icon-star-empty-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -36px;
  width: 18px;
  height: 18px;
}
.icon-star-full-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -54px;
  width: 18px;
  height: 18px;
}
.icon-strikethrough-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -64px;
  width: 20px;
  height: 20px;
}
.icon-subscript-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -85px -164px;
  width: 20px;
  height: 20px;
}
.icon-superscript-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -65px -164px;
  width: 20px;
  height: 20px;
}
.icon-table-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -83px -132px;
  width: 24px;
  height: 24px;
}
.icon-tag-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -16px;
  width: 16px;
  height: 16px;
}
.icon-tineye-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -32px;
  width: 16px;
  height: 16px;
}
.icon-tools-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -192px -72px;
  width: 18px;
  height: 18px;
}
.icon-triangle-03-00-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -64px;
  width: 16px;
  height: 16px;
}
.icon-triangle-16-30-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -80px;
  width: 16px;
  height: 16px;
}
.icon-underline-20 {
  background-image: url(../img/sprites/icons.png);
  background-position: -168px -84px;
  width: 20px;
  height: 20px;
}
.icon-undo-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -112px;
  width: 16px;
  height: 16px;
}
.icon-unlocked-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -128px;
  width: 16px;
  height: 16px;
}
.icon-unpin-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -144px;
  width: 16px;
  height: 16px;
}
.icon-update-24 {
  background-image: url(../img/sprites/icons.png);
  background-position: -107px -132px;
  width: 24px;
  height: 24px;
}
.icon-vk-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -64px -68px;
  width: 32px;
  height: 32px;
}
.icon-volume-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -226px -192px;
  width: 16px;
  height: 16px;
}
.icon-volume-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -32px -68px;
  width: 32px;
  height: 32px;
}
.icon-volume-mute-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -16px -216px;
  width: 16px;
  height: 16px;
}
.icon-volume-mute-32 {
  background-image: url(../img/sprites/icons.png);
  background-position: -72px -32px;
  width: 32px;
  height: 32px;
}
.icon-whatanime-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -48px -216px;
  width: 16px;
  height: 16px;
}
.icon-yandex-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -64px -216px;
  width: 16px;
  height: 16px;
}
.icon-youtube-16 {
  background-image: url(../img/sprites/icons.png);
  background-position: -80px -216px;
  width: 16px;
  height: 16px;
}
