{{? target == "previous"}}
    <a class="leafButton leafButtonPrevious" title="{{=it.tr.previousFileText}}"
       onclick="lord.previousFile(); return false;"
       style="display: none;"><i class="mdi mdi-36px mdi-arrow-left-bold-circle"></i></a>
{{?? target == "next"}}
    <a class="leafButton leafButtonNext" title="{{=it.tr.nextFileText}}" onclick="lord.nextFile(); return false;"
       style="display: none;"><i class="mdi mdi-36px mdi-arrow-right-bold-circle"></i></a>
{{?}}
