<script id="searchActionPlaceholder" type="text/javascript">
    (function() {
        var model = lord.model(["base", "tr", "boards"]);
        if (lord.data("boardName"))
            model.board = lord.model("board/" + lord.data("boardName")).board;
        var placeholder = lord.id("searchActionPlaceholder");
        placeholder.parentNode.replaceChild(lord.template("searchAction", model), placeholder);
    })();
</script>
