<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body>
{{~["top", "bottom"] :target}}
    {{#def.navigationButton}}
{{~}}
{{#def.header}}
<a id="top"></a>
<div class="wrap" {{#def.baseData}}>
    {{#def.sidebar}}
    <div class="wrappie">
        {{#def.customHeader}}
        {{#def.toolbar}}
        <div id="wrapper">
            {{#def.banner}}
            <div class="theTitle">
                <h1>
                    <a class="ajax" href="/{{=it.site.pathPrefix}}{{=it.board.name}}">{{=it.board.title}}</a>
                </h1>
            </div>
            <div id="threads" class="alignCenter">
                {{~it.threads :thread}}
                <a href="/{{=it.site.pathPrefix}}{{=it.board.name}}/arch/{{=thread.number}}.html"
                   class="archivalThreadLink ajax">{{=thread.number}}.html</a>
                {{~}}
            </div>
            <hr />
            {{#def.postingSpeed}}
        </div>
        <a id="bottom"></a>
    </div>
    {{#def.customFooter}}
</div>
</body>
</html>
