<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="mobile">
<div class="wrap" {{#def.baseData}}>
    {{#def.customHeader}}
    <div id="toolbarPlaceholder" style="display: none;"></div>
    <div class="wrappie">
        <div id="customHeaderPlaceholder" style="display: none;"></div>
        <div id="wrapper">
            <div class="theTitle">
                <h1 id="errorMessage">{{=it.errorMessage}}</h1>
            </div>
            <div class="error" id="errorDescription">
                {{=it.errorDescription}}
            </div>
        </div>
    </div>
    {{#def.customFooter}}
</div>
</body>
</html>