<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body>
{{#def.header}}
<div class="wrap" {{#def.baseData}}>
    {{#def.toolbar}}
    <div class="wrappie">
        {{#def.customHeader}}
        <div id="wrapper">
            <div class="theTitle">
                <h1 id="errorMessage">{{=it.errorMessage}}</h1>
            </div>
            <div class="error" id="errorDescription">
                {{=it.errorDescription}}
            </div>
        </div>
    </div>
    {{#def.customFooter}}
</div>
</body>
</html>
