<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="mobile">
{{#def.customHeader}}
<div class="wrap" {{#def.baseData}}>
    <div id="toolbarPlaceholder" style="display: none;"></div>
    <div class="wrappie">
        <div id="customHeaderPlaceholder" style="display: none;"></div>
        <div id="wrapper">
            <div id="customContentPlaceholder" style="display: none;"></div>
        </div>
    </div>
    {{#def.customFooter}}
</div>
</body>
</html>