<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body class="mobile" {{#def.baseData}}>
<div class="wrap">
    <div id="customHeaderPlaceholder" style="display: none;"></div>
    <div id="toolbarPlaceholder" style="display: none;"></div>
    <div class="wrappie">
        <div class="main">
            <div class="theTitle">
                <h1>
                    {{=it.title}}
                </h1>
            </div>
            <div id="playlist"></div>
        </div>
    </div>
    <div id="customFooterPlaceholder" style="display: none;"></div>
</div>
</body>
</html>
