<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{#def.head}}
<body>
{{#def.header}}
<div class="wrap" {{#def.baseData}}>
    {{#def.sidebar}}
    <div class="wrappie">
        {{#def.customHeader}}
        {{#def.toolbar}}
        <div id="wrapper">
            <div class="mobileOnly">
                {{#def.searchAction}}
            </div>
            <div class="theTitle desktopOnly">
                <h1>{{=it.tr.searchResultsMessage}}</h1>
            </div>
            <div id="searchResultsPlaceholder" class="loadingMessage">
                <img src="/{{=it.site.pathPrefix}}img/loading_big.gif">
                <h1 style="display: inline;">{{=it.tr.searchingMessage}}</h1>
            </div>
        </div>
    </div>
    {{#def.customFooter}}
</div>
</body>
</html>
