/*Burichan*/
/* tumb rewrite */
.color-prim {
    background-color: #C4C2EE;
}
.color-prim-inv {
    background-color: #000;
}
aside {
    background-color: #EEF2FF;
}
/* /tumb rewrite */

body  {
    background-color: #EEF2FF;
    /*font-family: Verdana,sans-serif;*/
}

a {
    color: #000;
}

a.expandCollapse {
    color: #777;
    cursor: pointer;
}

a:hover {
    color: #06F;
}

a.expandCollapse:hover {
    color: #444;
    cursor: pointer;
}

hr {
    color: #808080;
    border: 1px solid #808080;
    border-top: 1px solid #DDD;
    height: 1px;
    clear: both;
}

.select {
    background: #EAEAEA;
    border: 1px solid #CCC;
    cursor: pointer;
}

.selectOption {
    background: #98E;
}

.input {
    border: 1px solid #CCC;
}

.button {
    background: #EAEAEA;
    border: 1px solid #CCC;
    cursor: pointer;
}

.checkbox {
    background: #EAEAEA;
    border: 1px solid #CCC;
    cursor: pointer;
}

.popup {
    background-color: #D6DAF0;
    border: 1px solid #BBB;
}

.favorites {
    background-color: #D6DAF0;
    border: 1px solid #AAA;
}

.favorites > div {
    background-color: #D6DAF0;
    border: 1px solid #CCC;
}

.scrollAreaH60 {
    border: 1px solid #CCC;
}

.postSequenceNumber {
    color: green;
    font-size: 75%;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #D6DAF0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.ban {
    background-color: #D6DAF0;
}

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #9AD2F6;
    color: #9AD2F6;
}

span.spoiler:hover {
    color: #333;
}

span.spoiler:hover a {
    color: #000;
}

span.spoiler:hover .cspoilerTitle {
    color: #304070;
}

span.spoiler:hover .quotation {
    color: #789922;
}

span.tooltip {
    color: #304070;
    cursor: help;
}

span.newPostCount {
    color: green;
    font-size: 75%;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    cursor: pointer;
    color: #304070;
}

.cspoilerBody {
    background-color: #D6DAF0;
    border: 1px solid #CCC;
}

.catalogContainer {
    color: #333;
}

.catalogItem {
    background-color: #D6DAF0;
    color: #333;
}

.opSign {
    color: green;
}

.error {
    background-color: #D6DAF0;
}

.rules, .news {
    background-color: #D6DAF0;
    border: 1px solid #CCC;
}

.ipBan {
    background-color: #D6DAF0;
}

.post, .draft {
    background-color: #D6DAF0;
}

.newPost {
    background-color: #CDCDCD;
}

.post:target, .opPost:target {
    background-color: #B0B0FF;
}

.post.temporary {
    border: 1px solid #000;
}

.thread.hidden > .omittedPosts {
    display: none;
}

.thread.hidden > .threadPosts {
    display: none;
}

.postFileName, .postFileSize {
    white-space: nowrap;
}

.postFileName.mobile {
    font-size: .9em;
}

.postFileSize {
    color: #444;
}

.menu {
    background: #D6DAF0 !important;
    border: 1px solid #BBB !important;
}

.menu > li > a {
    color: #000000;
}

.menu > li:hover {
    background-color: #666;
}

.postformFile {
    border: 1px dashed #777;
}

.postformFile.drag {
    background-color: #DDD;
    border: 1px dashed #555;
}

.referencedBy {
    color: #555;
}

ul.tabWidget > li {
    background-color: #DDD;
    border: 1px solid #CCC;
}

ul.tabWidget > li > a {
    color: #000;
}

ul.tabWidget > li.activated {
    background-color: #AAA;
}

.toolbar {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    overflow-x: auto;
    font-size: 1.2em;
    position: relative;
    top: -8px;
    z-index: 1;
}

.toolbar.sticky {
    position: fixed;
    top: 0;
    background-color: #EEF2FF;
    width: 100%;
    padding-bottom: 0;
}

blockquote.blockquoteThread {
    max-height: 800px;
}

blockquote.blockquoteThread.expand {
    max-height: none;
}

.codeBlock {
    font-family: monospace;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    padding-left: 20px !important;
    border: 1px solid #AAA;
    overflow-x: auto;
    max-width: 800px;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

.codeBlock.mobile {
    max-width: 300px;
}

.theMessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.threadActions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
}

.theTitle {
    color: #000;
}

.vote {
    background-color: #CCC;
    border: 1px solid #BBB;
}

.track {
    background-color: #DDD;
    border: 1px solid #CCC;
}

.chatContact:hover {
    color: #FFF;
    background-color: #666;
}

.chatContact.selected {
    color: #000;
    background-color: #DDD;
}

.chatContact.selected:hover {
    color: #FFF;
    background-color: #666;
}

.chatTarget {
    background-color: #D6DAF0;
}

.chatMessage {
    border: 1px solid black;
    background-color: #D6DAF0;
}

.bordered {
    border: 1px solid #CCC;
}

.ui-tooltip {
    border: 1px solid #CCC !important;
    z-index: 11000 !important;
}

.ui-tooltip-content {
    background-color: #D6DAF0;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 85px;
    border-color: #CCC transparent;
    border-width: 0 10px 10px;
}
