/*Futaba*/
/* tumb rewrite */
.color-def {
    background-color: #F0E0D6;
}
aside {
    background-color: #FFE;
}
/* /tumb rewrite */

body {
    background-color: #FFE;
    color: #800000;
}

a {
    color: #00E;
}

a.expandCollapse {
    color: #444;
    cursor: pointer;
}

a:hover {
    color: #D00;
}

a.expandCollapse:hover {
    color: #666;
    cursor: pointer;
}

hr {
    color: #808080;
    clear: both;
}

.select, .button, .checkbox {
    cursor: pointer;
}

.popup, .favorites {
    background-color: #F0E0D6;
}

.favorites > div {
    background-color: #FBFBEA;
}

.scrollAreaH60 {
    border: 1px solid #800000;
}

.postSequenceNumber {
    color: red;
    font-size: 75%;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #FFE;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*
    Ban
*/

.ban {
    background-color: #F0E0D6;
}

/*
    Banner
*/

/*
    Board
*/

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #F0D0B6;
    color: #F0D0B6;
}

span.spoiler:hover {
    color: #800000;
}

span.spoiler:hover a {
    color: #D00;
}

span.spoiler:hover .cspoilerTitle {
    color: #E08060;
}

span.spoiler:hover .quotation {
    color: #789922;
}

span.tooltip {
    color: #E08060;
    cursor: help;
}

span.newPostCount {
    color: red;
    font-size: 75%;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    cursor: pointer;
    color: #E08060;
}

.cspoilerBody {
    background-color: #F0D0B6;
}

/*
    Catalog
*/

.catalogContainer {
    color: #800000;
}

.catalogItem {
    background-color: #F0E0D6;
    color: #800000;
}

.opSign {
    color: red;
}

/*
    Error
*/

.error {
    background-color: #F0E0D6;
    color: #800000;
}

/*
    Home
*/

.rules, .news {
    background-color: #F0E0D6;
}

/*
    IP ban
*/

.ipBan {
    background-color: #F0E0D6;
}

/*
    Not found
*/

/*.theImage <- Board image*/

/*
    Post
*/

.post, .draft {
    background-color: #F0E0D6;
}

.newPost {
    background-color: #CCC;
}

.post:target, .opPost:target {
    background-color: #AF9;
}

.post.temporary {
    border: 1px solid #000;
}

.thread.hidden > .omittedPosts,
.thread.hidden > .threadPosts {
    display: none;
}

.postFileName, .postFileSize {
    white-space: nowrap;
}

.postFileName.mobile {
    font-size: .9em;
}

.postFileSize {
    color: #800000;
}

.menu {
    background: #F0E0D6 !important;
    border: 1px solid #000000 !important;
    color: #800000 !important;
}

.menu > li > a {
    color: #800000;
}

.menu > li:hover {
    background-color: #444;
}

.postSubject {
    color: #CC1105;
}

.userName {
    font-weight: bold;
    color: #117743;
}

.postformFile {
    border: 1px dashed #777;
}

.postformFile.drag {
    background-color: #F0E0D6;
    border: 1px dashed #555;
}

.referencedBy {
    color: #707070;
}

ul.tabWidget > li {
    background-color: #F0E0D6;
}

ul.tabWidget > li > a {
    color: #800000;
}

ul.tabWidget > li.activated {
    background-color: #FFE;
}

/*
    Rules
*/

/*.rules <- Home*/

/*
    Settings bar
*/

.toolbar {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    overflow-x: auto;
    font-size: 1.2em;
    position: relative;
    top: -8px;
    z-index: 1;
}

.toolbar.sticky {
    position: fixed;
    top: 0;
    background-color: #FFE;
    width: 100%;
    padding-bottom: 0;
}

/*
    Thread
*/

/*blockquote <- Board*/

blockquote.blockquoteThread {
    max-height: 800px;
}

blockquote.blockquoteThread.expand {
    max-height: none;
}

.codeBlock {
    font-family: monospace;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    padding-left: 20px !important;
    overflow-x: auto;
    max-width: 800px;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

.codeBlock.mobile {
    max-width: 300px;
}

/*span.spoiler, span.spoiler a <- Board*/

/*span.spoiler:hover <- Board*/

/*span.spoiler:hover a <- Board*/

.theMessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.threadActions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
}

/*
    Thread echo
*/

/*
    Title
*/


/* Vote */

.vote {
    background-color: #F0D0B6;
}

/* Settings dialog */


/* Playlist */

.track {
    background-color: #F0E0D6;
}

.chatContact:hover {
    color: #800000;
    background: #F0D0B6;
}

.chatContact.selected {
    color: #000;
    background: #F0D0B6;
}

.chatContact.selected:hover {
    color: #800000;
    background: #F0D0B6;
}

.chatTarget {
    background-color: #F0E0D6;
}

.chatMessage {
    border: 1px solid black;
    background-color: #F0E0D6;
    color: #800000;
}

.bordered {
    border: 1px solid #F0E0D6;
}

.ui-tooltip {
    border: none !important;
    z-index: 11000 !important;
}

.ui-tooltip-content {
    background-color: #F0E0D6;
    color: #800000;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 85px;
    border-color: #F0E0D6 transparent;
    border-width: 0 10px 10px;
}
