/*Futaba*/
/* tumb rewrite */
.color-prim {
    background-color: #F0E0D6;
    color: #800000;
}
.color-prim-inv {
    background-color: #800000;
    color: #F0E0D6;
}
aside {
    background-color: #FFE;
}
/* /tumb rewrite */


.ui-tooltip {
    border: none !important;
}

.ui-tooltip-content {
    background-color: #F0E0D6;
    color: #800000;
}

.ui-tooltip-content::after {
    border-color: #F0E0D6 transparent;
}

.ui-slider-handle {
    border: 1px solid #800000 !important;
}

body  {
    background-color: #FFE;
    color: #800000;
}

a {
    color: #00E;
}

a.expandCollapse {
    color: #444;
}

a:hover {
    color: #D00;
}

a.expandCollapse:hover {
    color: #666;
}

hr {
    color: #808080;
    clear: both;
}

.popup {
    background-color: #F0E0D6;
    border: 1px solid #800000;
}

.favorites {
    background-color: #FFE;
}

.favorites > div {
    background-color: #F0E0D6;
}

.scrollAreaH60 {
    border: 1px solid #800000;
}

.postSequenceNumber {
    color: red;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #FFE;
}

.ban {
    background-color: #F0E0D6;
}

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #F0D0B6;
    color: #F0D0B6;
}

span.spoiler:hover {
    color: #800000;
}

span.spoiler:hover a {
    color: #D00;
}

span.spoiler:hover .cspoilerTitle {
    color: #E08060;
}

span.spoiler:hover .quotation {
    color: #789922;
}

.spoilerMarkupButton {
    background-color: #FFE;
    color: #800000;
}

.spoilerMarkupButton.spoiler {
    color: #800000;
}

span.tooltip {
    color: #E08060;
}

span.newPostCount,
.postLimitReached {
    color: red;
}

.bumpLimitReached {
    color: olive;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    color: #E08060;
}

.cspoilerBody {
    background-color: #F0D0B6;
}

.catalogContainer {
    color: #800000;
}

.catalogItem {
    background-color: #F0E0D6;
    color: #800000;
}

.opSign {
    color: red;
}

.error {
    background-color: #F0E0D6;
    color: #800000;
}

.sectionBody, .post, .draft {
    background-color: #F0E0D6;
}

.newPost {
    background-color: #CCC;
}

.post:target, .opPost:target {
    background-color: #AF9;
}

.post.temporary {
    border: 1px solid #000;
}

.postFileSize {
    color: #800000;
}

.menu {
    background: #F0E0D6 !important;
    border: 1px solid #000000 !important;
    color: #800000 !important;
    /*font-family: Verdana,sans-serif !important;*/
}

.bannedFor {
    color: red;
}

.modificationDateTime {
    font-style: italic;
}

.postSubject {
    font-weight: bold;
    color: #CC1105;
}

.tripcode {
    color: green;
}

.moderName {
    font-weight: bold;
    color: blue;
}

.userName {
    font-weight: bold;
    color: #117743;
}

.postformFile.drag {
    background-color: #F0E0D6;

    border: 1px dashed #555;
}

.referencedBy {
    color: #707070;
}

ul.tabWidget > li {
    background-color: #F0E0D6;
}

ul.tabWidget > li > a {
    color: #800000;
}

ul.tabWidget > li.activated {
    background-color: #FFE;
    border: 1px solid #800000;
}

.toolbar.sticky {
    background-color: #FFE;
}

.vote {
    background-color: #F0D0B6;
}

.voteText {
    font-weight: bold;
}

.voteCount {
    font-style: italic;
}

.chatContactList {
    border: 1px solid #800000;
}

.chatContact:hover {
    color: #800000;
    background: #F0D0B6;
}

.chatContact.selected {
    color: #000;
    background: #F0D0B6;
}

.chatContact.selected:hover {
    color: #800000;
    background: #F0D0B6;
}

.chatContactNewMessages {
    color: red;
}

.chatTarget {
    background-color: #F0E0D6;
}

.chatHistory {
    border: 1px solid #800000;
}

.chatMessage {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #F0E0D6;
    color: #800000;
}

.chatMessageDate {
    border-bottom: 1px dotted black;
}

.bordered {
    border: 1px solid #F0E0D6;
}

.submitContainer > input {
    border-color: #00E;
}

.hideReason {
    font-weight: bold;
}

#player {
    background-color: #FFE;
    border: 1px solid #800000;
}

#player.minimized {
    background-color: #F0E0D6;
}

.track {
    background-color: #F0E0D6;
    border: 1px solid #800000;
}

.track:hover {
    background-color: #DDC;
}

.track.selected {
    background-color: #FFE;
}

.track.selected > .trackInfo,
.bannedUserHeader,
.registeredUserHeader {
    font-weight: bold;
}

.searchResult {
    background-color: #F0E0D6;
}

.searchResultHighlighted {
    background-color: yellow;
}

.delallHeader {
    font-weight: bold;
}

ul.jqueryFileTree a {
    color: #800000 !important;
}
