/*Neutron*/
/* tumb rewrite */
.color-prim {
    background-color: #2C2C2C;
    color: #698CC0;
}
.color-prim-inv {
    background-color: #698CC0;
    color: #2C2C2C;
}
.buttonImage, .logo {
    filter: invert(1);
    -webkit-filter: invert(1);
}
aside {
    background-color: #212121;
}
/* /tumb rewrite */

body {
    background-color: #212121;
    color: #698CC0;
    /*font-family: "Trebuchet MS",Trebuchet,tahoma,serif;*/
}

a {
    color: #C9BE89;
}

a.expandCollapse {
    color: #444;
    cursor: pointer;
}

a:hover {
    color: #EEFEBB;
}

a.expandCollapse:hover {
    color: #666;
    cursor: pointer;
}

hr {
    height: 3px;
    border-width: 0;
    background: url("../img/neutron_line.png") center no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.select {
    background-color: #111;
    border: 2px solid #545454;
    border-radius: 5px;
    color: #EEE;
    cursor: pointer;
}

.selectOption {
    background-color: #111;
    color: #EEE;
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

textarea {
    background-color: #111;
    border: 2px solid #545454;
    border-radius: 5px;
    color: #EEE;
}

input:not([type='image']) { /*Yep, this is NOT a class*/
    background-color: #111;
    border: 2px solid #545454;
    border-radius: 5px;
    color: #EEE;
}

.button {
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}

.popup {
    background-color: #DDEDAA;
}

.favorites {
    background-color: #212121;
    min-width: 300px;
    min-height: 400px;
    padding: 2px;
}

.favorites > div {
    background-color: #2C2C2C;
    border: 1px solid #575757;
    padding: 2px;
    margin-top: 4px;
}

.postSequenceNumber {
    color: red;
    font-size: 75%;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #212121;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*
    Ban
*/

.ban {
    background-color: #2C2C2C;
}

/*
    Banner
*/

/*
    Board
*/

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #575757;
    color: #575757;
}

span.spoiler:hover {
    color: #48B0FD;
}

span.spoiler:hover a {
    color: #EEFEBB;
}

span.spoiler:hover .cspoilerTitle {
    color: #E08060;
}

span.spoiler:hover .quotation {
    color: #789922;
}

span.tooltip {
    color: #E08060;
    cursor: help;
}

span.newPostCount {
    color: red;
    font-size: 75%;
}

.quotation {
    color: #789922;
}

.cspoilerTitle {
    cursor: pointer;
    color: #E08060;
}

.cspoilerBody {
    background-color: #DDEDAA;
}

/*
    Catalog
*/

.catalogContainer {
    color: #698CC0;
}

.catalogItem {
    background-color: #DDEDAA;
    color: #698CC0;
}

.opSign {
    color: red;
}

/*
    Error
*/

.error {
    background-color: #2C2C2C;
    color: #698CC0;
}

/*
    Home
*/

.rules, .news {
    background-color: #2C2C2C;
}

/*
    IP ban
*/

.ipBan {
    background-color: #DDEDAA;
}

/*
    Not found
*/

/*.theImage <- Board image*/

/*
    Post
*/

.post, .draft {
    background-color: #2C2C2C;
    border: 1px solid #575757;
}

.post:not(.hidden) {
    background: url("../favicon.ico") right bottom no-repeat;
}

.newPost {
    background-color: #3C3C3C;
}

.post:target, .opPost:target {
    background-color: #004A58;
}

.post.temporary {
    background-color: #2C2C2C;
    border: 1px solid #000;
}

.thread.hidden > .omittedPosts,
.thread.hidden > .threadPosts {
    display: none;
}

.postFileName, .postFileSize {
    white-space: nowrap;
}

.postFileName.mobile {
    font-size: .9em;
}

.postFileSize {
    color: #698CC0;
}

.menu {
    background: #212121 !important;
    color: #698CC0 !important;
    border: 1px solid #575757 !important;
}

.menu > li > a {
    color: #698CC0;
}

.menu > li:hover {
    background-color: #666;
}

.postSubject {
    color: #3941AC;
}

.userName {
    font-weight: bold;
    color: #B4B9CD;
}

.postformFile {
    border: 1px dashed #777;
    text-align: justify;
    cursor: pointer;
}

.postformFile.drag {
    background-color: #DDEDAA;
    border: 1px dashed #555;
}

.postformFile ~ .postformFile {
    margin-top: 5px;
}

.postformFileInput {
    display: inline-block;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.postformFileText {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.postformFileRemoveButton {
    display: inline-block;
    vertical-align: top;
}

.postformFileRemoveImage {
    vertical-align: top !important;
}

.referencedBy {
    color: #707070;
}

ul.tabWidget > li {
    background-color: #DDEDAA;
}

ul.tabWidget > li > a {
    color: #698CC0;
}

ul.tabWidget > li.activated {
    background-color: #212121;
}

/*
    Rules
*/

/*.rules <- Home*/

/*
    Settings bar
*/

.toolbar {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    overflow-x: auto;
    font-size: 1.2em;
    position: relative;
    top: -8px;
    z-index: 1;
}

.toolbar.sticky {
    position: fixed;
    top: 0;
    background-color: #212121;
    width: 100%;
    padding-bottom: 0;
}

/*
    Thread
*/

/*blockquote <- Board*/

blockquote.blockquoteThread {
    max-height: 800px;
}

blockquote.blockquoteThread.expand {
    max-height: none;
}

.codeBlock {
    font-family: monospace;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    padding-left: 20px !important;
    overflow-x: auto;
    max-width: 800px;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

.codeBlock.mobile {
    max-width: 300px;
}

/*span.spoiler, span.spoiler a <- Board*/

/*span.spoiler:hover <- Board*/

/*span.spoiler:hover a <- Board*/

.theMessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.threadActions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
}

/*
    Thread echo
*/

/*
    Title
*/

/* Vote */

.vote {
    background-color: #DDEDAA;
}

/* Playlist */

.track {
    background-color: #DDEDAA;
}

#recaptcha_response_field {
    color: #698CC0;
}

.buttonImage, .signImage, .boardSelect {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
    -o-filter: invert(1);
    filter: invert(1);
}

.noInvert {
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -ms-filter: invert(0);
    -o-filter: invert(0);
    filter: invert(0);
}

.chatContact:hover {
    color: #48B0FD;
    background-color: #575757;
}

.chatContact.selected {
    color: #FFF;
    background-color: #666;
}

.chatContact.selected:hover {
    color: #48B0FD;
    background-color: #575757;
}

.chatTarget {
    color: #FFF;
    background-color: #666;
}

.chatMessage {
    border: 1px solid #575757;
    color: #698CC0;
    background-color: #2C2C2C;
}

.bordered {
    border: 1px solid #575757;
}

.ui-tooltip {
    border: 1px solid #575757 !important;
    z-index: 11000 !important;
}

.ui-tooltip-content {
    background-color: #2C2C2C;
    color: #698CC0;
}

.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 85px;
    border-color: #575757 transparent;
    border-width: 0 10px 10px;
}

.archivalThreadLink {
    font-size: 1.2em;
    margin-left: 10px;
}
