/*Photon*/
/* tumb rewrite */
.color-def {
    background-color: #DDD !important;
}
aside {
    background-color: #EEE;
}
/* /tumb rewrite */

body {
    background-color: #EEE;
    /*font-family: Verdana,sans-serif;*/
}

a {
    color: #F60;
}

a.expandCollapse {
    color: #444;
    cursor: pointer;
}

a:hover {
    color: #06F;
}

a.expandCollapse:hover {
    color: #666;
    cursor: pointer;
}

hr {
    color: #CCC; /*IE*/
    background-color: #CCC; /*Firefox, Opera, Safari*/
    border: none;
    height: 1px;
    clear: both;
}

.select {
    background: #EAEAEA;
    border: 1px solid #CCC;
    cursor: pointer;
}

.selectOption {
    background: #EAEAEA;
}

.input {
    border: 1px solid #CCC;
}

.button, .checkbox {
    background: #EAEAEA;
    border: 1px solid #CCC;
    cursor: pointer;
}

.popup {
    background-color: #DDD;
    border: 1px solid #BBB;
}

.favorites {
    background-color: #CCC;
    border: 1px solid #AAA;
}

.favorites > div {
    background-color: #DDD;
    border: 1px solid #CCC;
}

.scrollAreaH60 {
    border: 1px solid #CCC;
}

.postSequenceNumber {
    color: green;
    font-size: 75%;
}

.hiddenPostList > div:nth-child(even) {
    background-color: #EEE;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*
    Ban
*/

.ban {
    background-color: #DDD;
}

/*
    Banner
*/

/*
    Board
*/

span.spoiler, span.spoiler a, span.spoiler .cspoilerTitle, span.spoiler .quotation {
    background: #BBB;
    color: #BBB;
}

span.spoiler:hover {
    color: #333;
}

span.spoiler:hover a {
    color: #F60;
}

span.spoiler:hover .cspoilerTitle {
    color: #304070;
}

span.spoiler:hover .quotation {
    color: #789922;
}

span.tooltip {
    color: #304070;
    cursor: help;
}

span.newPostCount {
    color: green;
    font-size: 75%;
}

.cspoilerTitle {
    cursor: pointer;
    color: #304070;
}

.cspoilerBody {
    background-color: #BBB;
    border: 1px solid #CCC;
}

/*
    Catalog
*/

.catalogContainer {
    color: #333;
}

.catalogItem {
    background-color: #DDD;
    color: #333;
}

.opSign {
    color: green;
}

/*
    Error
*/

.error {
    background-color: #DDD;
}

/*
    Home
*/

.rules, .news {
    background-color: #DDD;
    border: 1px solid #CCC;
}

/*
    IP ban
*/

.ipBan {
    background-color: #DDD;
}

/*
    Not found
*/

/*.theImage <- Board image*/

/*
    Post
*/

.post, .draft {
    background-color: #DDD;
    border: 1px solid #CCC;
}

.newPost {
    background-color: #CDCDCD;
}

.post:target, .opPost:target {
    background-color: #EEDACB;
}

.post.temporary {
    border: 1px solid #000;
}

.thread.hidden > .omittedPosts,
.thread.hidden > .threadPosts {
    display: none;
}

.postFileName, .postFileSize {
    white-space: nowrap;
}

.postFileName.mobile {
    font-size: .9em;
}

.postFileSize {
    color: #444;
}

.menu {
    background: #DDD !important;
    border: 1px solid #CCC !important;
}

.menu > li > a {
    color: #000;
}

.menu > li:hover {
    background-color: #666;
    padding-right: 2px;
}

.menu > li:hover > a {
    color: #FFF;
}

.postformFile {
    border: 1px dashed #777;
}

.postformFile.drag {
    background-color: #DDD;
    border: 1px dashed #555;
}

.referencedBy {
    color: #555;
}

ul.tabWidget > li {
    background-color: #DDD;
    border: 1px solid #CCC;
}

ul.tabWidget > li > a {
    color: black;
}

ul.tabWidget > li.activated {
    background-color: #AAA;
}

/*
    Rules
*/

/*.rules <- Home*/

/*
    Settings bar
*/

.toolbar {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    overflow-x: auto;
    font-size: 1.2em;
    position: relative;
    top: -8px;
    z-index: 1;
}

.toolbar.sticky {
    position: fixed;
    top: 0;
    background-color: #EEE;
    width: 100%;
    padding-bottom: 0;
}

/*
    Thread
*/

/*blockquote <- Board*/

blockquote.blockquoteThread {
    max-height: 800px;
}

blockquote.blockquoteThread.expand {
    max-height: none;
}

.codeBlock {
    font-family: monospace;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    padding-left: 20px !important;
    border: 1px solid #AAA;
    overflow-x: auto;
    max-width: 800px;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

.codeBlock.mobile {
    max-width: 300px;
}

/*span.spoiler, span.spoiler a <- Board*/

/*span.spoiler:hover <- Board*/

/*span.spoiler:hover a <- Board*/

.theMessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.threadActions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    white-space: nowrap;
    overflow-x: auto;
}

/*
    Thread echo
*/

.externalThreadFrame {
    width: 300px;
    height: 400px;
    float: right;
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 9920;
}

.externalThreadFrame.mobile {
    width: 120px;
    height: 240px;
}

.externalThreadFrame:hover {
    width: 90%;
    height: 100%;
    top: 0;
}

/*
    Title
*/


/* Vote */

.vote {
    background-color: #CCC;
    border: 1px solid #BBB;
}
/* Playlist */

.track {
    background-color: #DDD;
    border: 1px solid #CCC;
}

.imageCheckBox:checked + label {
    box-shadow: inset 0 1px 5px #555;
}

.chatContact:hover {
    color: #FFF;
    background-color: #666;
}

.chatContact.selected {
    color: #000;
    background-color: #DDD;
}

.chatContact.selected:hover {
    color: #FFF;
    background-color: #666;
}

.chatTarget {
    background-color: #DDD;
}

.chatMessage {
    border: 1px solid #CCC;
    background-color: #DDD;
}

.bordered {
    border: 1px solid #CCC;
}
