<div class='auto-resizable-div'>
  <div class='row'>
    <input type='text' size='47'
           data-bind='textInput: title' placeholder='{{!it.translate('Title:')}}' />
  </div>
  <div class='row'>
    <input type='text' size='47'
           data-bind='textInput: url' placeholder='{{!it.translate('URL:')}}' />
  </div>
</div>
