<div id="captcha">
    <div name="image" style="display:inline-block;vertical-align:middle"></div>
    <input type="hidden" name="nodeCaptchaChallenge" />
    <div style="display:inline-block;vertical-align:middle">
        <input type="text" maxlength="{{=it.size}}" class='post-form-input' name="nodeCaptchaResponse" style="width: {{=it.width/2}}px;height: {{=it.height/2}}px" />
        <div>
            <span name="countdown"></span>
        </div>
    </div>
</div>
