<div id="captcha">
    <div name="image" style="width:{{=it.width}}px;height:{{=it.height}}px"></div>
    <input type="hidden" name="nodeCaptchaChallenge" />
    <input type="text" maxlength="{{=it.size}}" class='post-form-input' name="nodeCaptchaResponse" style="width:{{=it.width/2}}px" />
</div>
