*
!materialdesignicons-webfont.eot
!materialdesignicons-webfont.svg
!materialdesignicons-webfont.ttf
!materialdesignicons-webfont.woff
!materialdesignicons-webfont.woff2
!ptsans.woff
!ptsansb.woff
!.gitignore